* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: red; */
    display: flex;
}

.sidebar {
    width: 280px;
    /* background: var(--sidebar-bg); */
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
}


.sidebar header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}


.sidebar .staff-list {
    align-items: center;
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}



.profil-card {
    background: var(--soft-grey);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #eef3ff;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform .2s ease;
}

.profil-card:hover {
    transform: scale(1.03);
}

.img-profil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ddd;
}

.add-btn {
    margin: 15px;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.add-btn:hover {
    background: #46a04a;
}

.btn-edit{
    background-color: rgb(247, 45, 45);
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    color: whitesmoke;
    width: 40px;
}
.btn-edit:hover{
        background-color: rgb(255, 115, 0);
}