* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: red; */
    display: flex;
}

.sidebar {
    width: 280px;
    /* background: var(--sidebar-bg); */
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
}


.sidebar header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}


.sidebar .staff-list {
    align-items: center;
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}



.profil-card {
    background: var(--soft-grey);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #eef3ff;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform .2s ease;
}

.profil-card:hover {
    transform: scale(1.03);
}

.img-profil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ddd;
}

.add-btn {
    margin: 15px;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.add-btn:hover {
    background: #46a04a;
}

.btn-edit{
    background-color: rgb(247, 45, 45);
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    color: whitesmoke;
    width: 40px;
}
.btn-edit:hover{
        background-color: rgb(255, 115, 0);
}

/* MODALE */
.modal-bg {
display: none;
position: fixed;
inset: 0;
background: rgba(0,0,0,.5);
justify-content: center;
align-items: center;
}


.modal {
background: white;
width: 90%;
max-width: 420px;
padding: 20px;
border-radius: 12px;
animation: fadeIn .3s;
}

.info-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes fadeIn {
from {transform: scale(.8); opacity: 0;}
to {transform: scale(1); opacity: 1;}
}


.modal input  {
width: 100%;
padding: 10px;
margin: 8px 0;
border-radius: 8px;
border: 1px solid #aaa;
}
.modal select{
    width: 100%;
padding: 10px;
margin: 8px 0;
border-radius: 8px;
border: 1px solid #aaa;
}
#photoURL #photoModal{
     width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ddd;
}

.btn-save {
padding: 10px;
width: 100%;
background: green;
border: none;
border-radius: 8px;
color: white;
font-size: 16px;
cursor: pointer;
margin-top: 10px;
}